/*===========================================
=            Responsive Timeline css by brunodsgn            =
=   Found At https://github.com/brunodsgn/responsive-timeline       =
=============================================*/

header:after,
#timeline .timeline-item:after,
header:before,
#timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

#timeline {
    width: 90%;
    margin: 30px auto;
    position: relative;
    transition: all 0.4s ease;
}

#timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #ee4d4d;
    left: 50%;
    top: 0;
    position: absolute;
}

#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

#timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
}

#timeline .timeline-item .timeline-icon {
    background: #ee4d4d;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
    border-radius: 50%;
}

#timeline .timeline-item .timeline-icon img {
    position: relative;
    top: 14px;
    left: 14px;
}

#timeline .timeline-item .timeline-content {
    width: 45%;
    background: #fff;
    padding: 20px;
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content h2 {
    padding: 15px;
    background: #ee4d4d;
    color: #fff;
    margin: -20px -20px 0 -20px;
    font-weight: 300;
    border-radius: 3px 3px 0 0;
}

#timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ee4d4d;
}

#timeline .timeline-item .timeline-content.right {
    float: right;
}

#timeline .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
}

@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0;
    }
    #timeline:before {
        left: 0;
    }
    #timeline .timeline-item .timeline-content {
        width: 90%;
        float: right;
    }
    #timeline .timeline-item .timeline-content:before,
    #timeline .timeline-item .timeline-content.right:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid #ee4d4d;
    }
    #timeline .timeline-item .timeline-icon {
        left: 0;
    }
}

/*=====  End of  Responsive Timeline css  ======*/



/*=============================================
=            My Custom CSS Styles            =
=============================================*/

/*----------  Base Styles  ----------*/

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body,
html {
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: "Dosis", arial, verdana;
    font-weight: 500;
}

/*----------  End Of Base Styles  ----------*/


body {
    font-size: 13px;
    background: #f9f9f9;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Dosis", helvetica, arial, verdana;
    line-height: 20px;
    font-size: 14px;
    color: #726f77;
}

.notifications{
    position:fixed;
    top: 20px;
    right: 20px;
    z-index: 4;
}

.notifications p{
    padding: 10px 20px;
    background: #ff6a00;
    color: #fff;
    font-weight:bold;
}

/* Dummy Header element to show blured background image behind description */
header {
    height: 500px;
    background: #2b2e48;
    background: url("https://i.ytimg.com/vi/P9Y0SiYPXGI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    padding: 10px;
    -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}


.container {
    width: 90%;
    margin: -400px auto 0;
    background: #f9f9f9;
    position: relative;
}

/*----------  Description div styles block  ----------*/

.avatar {
    padding-top: 20px;
    text-align: center;
}

.avatar .caption {
    font-size: 14px;
    padding: 5px;
    text-align: center;
    margin: 0;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.description .description-text {
    padding: 0 20px;
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #726577;
    text-align: justify;
    font-family: "Dosis", arial, tahoma, verdana;
}

/*----------  End of Description Styles block  ----------*/


/*---------- My Styles overriding above Responsive css timeline styles  ----------*/


#timeline:before {
    background: #ffa500 !important;
}

.timeline-icon {
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    background: #ffa500 !important;
}

#timeline .timeline-item .timeline-content h2 {
    background: #ffac00;
}

#timeline .timeline-item .timeline-content:before {
    border-left-color: #ffac00;
}

#timeline .timeline-item .timeline-content.right:before {
    border-right-color: #ffac00;
}

.no-content .timeline-content{
    padding-bottom: 0 !important;
}

@media(max-width: 768px) {
    #timeline .timeline-item .timeline-content:before,
    #timeline .timeline-item .timeline-content.right:before {
        border-right-color: #ffac00;
    }
}

/*----------  End of Overriding Styles  ----------*/


.section-title {
    background: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    position: relative;
}


/*----------  Styles for Movie Thumbnails inside timeline content div  ----------*/


#timeline .timeline-content .thumbnail-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

#timeline .timeline-content .thumbnail-container .thumbnail {
    margin: 10px;
    -webkit-flex-basis: calc(33.33% - 20px);
        -ms-flex-preferred-size: calc(33.33% - 20px);
            flex-basis: calc(33.33% - 20px);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

#timeline .timeline-content .thumbnail-container .thumbnail:hover .thumbnail-info {
    color: #ff6600;
}

#timeline .timeline-content .thumbnail-container .thumbnail:hover .thumbnail-img img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

#timeline .timeline-content .thumbnail-container .thumbnail:hover .thumbnail-img:before {
    opacity: 1;
}

#timeline .timeline-content .thumbnail-container .thumbnail:hover .thumbnail-img:after {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

#timeline .timeline-content .thumbnail-container .thumbnail .thumbnail-img img {
    width: 100%;
    height: 130px;
    transition: all, 0.2s, ease-in;
}

#timeline .timeline-content .thumbnail-container .thumbnail .thumbnail-img {
    position: relative;
    height: 130px;
}

#timeline .timeline-content .thumbnail-container .thumbnail .thumbnail-img:before {
    content: 'Click To Know More';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: all 0.2ms ease-in;
    z-index: 1;
}

#timeline .timeline-content .thumbnail-container .thumbnail .thumbnail-img:after {
    content: '';
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 169, 0, 0.5);
    top: 0;
    left: 0;
    transition: all 0.2ms ease-in;
    opacity: 0;
}

#timeline .timeline-content .thumbnail-container .thumbnail .thumbnail-info {
    margin-top: 5px;
    text-align: center;
    color: #726f77;
    transition: all 0.2s ease-in;
}

.awards-container h3 {
    font-size: 22px;
}

.awards-container a {
    color: #ff6600;
}

.awards-container a:hover {
    color: #ffa500;
}

/*----------  End of thumbnail styles block  ----------*/


/*----------  Footer Styles  ----------*/


footer {
    width: 100%;
    background: #ffac00;
    color: #fff;
    font-size: 21px;
}

footer p.conclusion {
    text-align: center;
    padding: 20px 30px;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 2px;
}

footer p{
    text-align: center;
    margin: 0;
    padding: 0;
}

footer p a {
    transition: all 0.2s ease-out;
}

footer p a:hover {
    color: #00aaff;
}


footer ul {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

footer li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2ms esae-out;
}

footer li a {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    transition: all 0.2ms esae-out;
}

footer li.fb {
    background: blue;
    margin-right: 20px;
}

footer li.tw {
    background: #4099ff;
}

footer li:hover {
    background: #fff !important;
}

footer li.fb:hover a {
    color: blue;
}

footer li.tw:hover a {
    color: #4099ff;
}

footer .made-by {
    padding: 15px;
    text-align: center;
    background: #EAA004;
    color: #fff;
    letter-spacing: 2px;
    font-size: 12px;
}

footer .made-by i {
    color: red;
}

/*----------  End of footer styles  ----------*/


@media(max-width: 768px) {
    .section-title {
        text-align: left;
    }
    .description .description-text {
        font-size: 18px;
    }
    footer .conclusion {
        font-size: 14px;
        padding: 10px;
    }
}


/*=====  End of My Custom Styles  ======*/
